/* font-family: 'Cutive Mono', monospace;
font-family: 'Major Mono Display', monospace; */
body {
  background-color: #2C3A47;
}

h3 {
  font-family: 'Cabin Sketch', cursive;
  text-transform: uppercase;
  color: #c7ecee;
  text-align: center;
  font-size: 3vw;
}

.text {
  width: 75vw;
  position: absolute;
  top: 8vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Fira Code', monospace;
  color: #ffbe76;
  font-size: 1.5vw;
}

#video {
  height: 100px;
  width: 100px;
  margin-top: 20%;
  margin-left: 47%;
  border-radius: 10px;
  background-color: black;
}

.loader {
  background-color: rgb(30, 30, 30);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;

}

.fadeloader {
  animation-name: fading;
  animation-duration: 500ms;
}

@keyframes fading {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.invisible {
  display: none;
}
a:visited,
a:link{
  color: #2C3A47;
}
.download{
 height: 3vw;
 width: 5vw;
 text-decoration: none;
 font-size: 1.25vw;
 background-color: #ffc478;
 padding: 0.5vw;
 border: 0.25vw #ffc478 solid;
 border-radius: 5vw; 
 transition: 400ms;
}
.download:hover{
  background-color: #2C3A47;
  color: #ffc478;
  transform: scale(1.1);
}
