/* font-family: 'Cutive Mono', monospace;
font-family: 'Major Mono Display', monospace; */
body{
    background-color: #2C3A47;
}
h3{
    font-family: 'Major Mono Display', monospace;
    color: #c7ecee;
    text-align: center;
    font-size: 30px;
}
.text{
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    color: #ffbe76;
}
#video{
    height: 100px;
    width: 100px;
    margin-top: 20%;
    margin-left: 47%;
    border-radius: 10px;
    background-color: black;
  }
  .loader{
    background-color: rgb(30, 30, 30);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
  
  }
  .fadeloader{
    animation-name: fading;
    animation-duration: 500ms;
  }
  @keyframes fading{
    from{
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }
  .invisible{
      display: none;
  }