/* font-family: 'Cutive Mono', monospace;
font-family: 'Major Mono Display', monospace; */
body {
  background-color: #2C3A47;
  margin: 0;
  padding: 0;;
}

h3 {
  font-family: 'Cabin Sketch', cursive;
  text-transform: uppercase;
  color: #c7ecee;
  text-align: center;
  font-size: 3vw;
}

.text {
  width: 75vw;
  position: absolute;
  top: 8vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Fira Code', monospace;
  color: #ffbe76;
  font-size: 1.5vw;
}

#video {
  position: absolute;
  top: 35%;
  left: 46%;
  height: 8vw;
  width: 8vw;
  border-radius: 1vw;
  background-color: black;
}

.loader {
  background-color: rgb(30, 30, 30);

  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  top: 0;
  left: 0;

}

.fadeloader {
  animation-name: fading;
  animation-duration: 500ms;
}

@keyframes fading {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.invisible {
  display: none;
}
a:visited,
a:link{
  color: #2C3A47;
  text-decoration: none;
}
.download{
 height: 3vw;
 width: 5vw;
 text-decoration: none;
 font-size: 1.25vw;
 font-weight: bold;
 background-color: #ffc478;
 padding: 0.5vw;
 border: 0.25vw #ffc478 solid;
 border-radius: 5vw; 
 transition: 400ms;
}
.download:hover{
  background-color: #2C3A47;
  color: #ffc478;
  transform: scale(1.1);
}
.overflow{
  overflow: hidden;
}
.message-bg{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0,0.3);
}
.message{
  position: relative;
  margin: 10vh auto;
  height : 40vw;
  width : 40vw;

}
img{
  height: 100%;
  width: 100%;
  border: 0.5vw #ffc478 solid;
  border-radius: 5vw;
}
.cross{
  position: absolute;
  background-color: #ffc478;
  padding: 0.5vw;
  border-radius: 0.5vw;
  font-size: 2vw;
  top: -2%;
  left: 45.5%;
}
